body{
  background-size: auto auto;
  background-color: #F5F5F5;
  background-color: rgba(231, 81, 81);
}

.App {
  text-align: center;
}

.heading {
  width: 100%;
}

.home { 
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  min-height: 670px;
  max-width: 750px;
  flex-grow: 1;
  margin:0px auto;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 60px 0 40px 0;
  border: 1px solid #282c34;
  box-shadow: 4.5px 9.0px 9.0px hsl(0deg 0% 0% / 0.36);

}

h1{
  font-family: 'Pacifico', cursive;  
  font-size: 40px !important;
  color: rgba(231, 81, 81);
}

.wrapper{
  padding: 2em;
  background-color: #F5F5F5;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 48px, rgba(231, 81, 81) 48px, rgba(231, 81, 81) 61px );

}

h2, p, div {
  font-family: 'Roboto';
  font-size: 24px;
}

.item{
  margin: 10px 0;

}

div {
  font-family: Roboto;
  color: #E75151;
}

button{
  padding: 4px 14px;
  margin: 0 3px;
  background-color: rgba(231, 81, 81);
  color: #F5F5F5;
  border: none;
  border-radius: 6px;
}

.wishlist{
  padding: 25px 0;
}










